.header__logo {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 649px) {
  .header__logo {
    padding-left: 28px;
    padding-top: 28px;
  }
}

@media screen and (max-width: 331px) {
  .header__logo {
    padding-left: 28px;
    padding-top: 28px;
  }
}
