.main {
  margin: 0 auto;
  width: 880px;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 581px;
  }
}

@media screen and (max-width: 320px) {
  .main {
    width: 282px;
  }
}
