.footer {
  width: 880px;
  margin: 68px auto 60px;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 649px) {
  .footer {
    max-width: 282px;
  }
}

@media screen and (max-width: 331px) {
  .footer {
    max-width: 282px;
  }
}
