.profile-info__button {
  border: 1px solid #FFFFFF;
  background-color: #000000;
  cursor: pointer;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  grid-column-start: 2;
  grid-row-start: 1;
  position: absolute;
  bottom: 40px;
}

.profile-info__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile-info__button{
    font-size: 14px;
    height: 50px;
    width: 40px;
    right: -38px;
    border: 2px solid #FFFFFF;
  }
}

@media screen and (max-width: 320px) {
  .profile-info__button {
    height: 18px;
    width: 18px;
    grid-column-start: 2;
    margin-left: 10px;
    font-size: 8px;
    position: initial;
  }
}
